<div class="container py-5">
  <p class="fs-5 text-dark mb-md-5 mb-3 text-center">
    Parcours les events
  </p>
  <div class="container row justify-content-center">
    <% @events.each do |event| %>
      <div class="card mb-4 mx-3 card-home active" style="width: 25rem">
        <div class="card-body">
          <h5 class="card-title"><%= event.title %></h5>
          <p class="card-text"><%= truncate(event.description, length: 300) %></p>
          <a href="<%= event_path(event) %>" class="btn btn-primary">Lire la suite</a>
        </div>
      </div>
    <% end %>
  </div>
</div>